#destination {
    gap: 5rem;
    /* display: flex; */
    /* margin-left: 40px; */
}

.info-dest {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.info-dest h2 {
    font-size: 48px;
    line-height: 48px;
}

.info-dest span {
    color: #FF715B;
}

.info-dest p {
    color: black;
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 30px 0;
}

.destinations {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 60px;
    margin-top: 30px;
}
.mrq{
    color: white;
    align-items: flex-start;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 4em;
}
.destination .images img{
    position: relative;
    width: 300px;
    height: 324px;
    border: 3px solid #37a69b;
    border-radius: 5px;
}

.destination .names h3 {
    position: relative;
    top: -30px;
    background-color: #37a69b;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}