.background img{
    height: 90vh;
    width: 90%;
    margin-left: 90px;
}
.info{
    position: absolute;
    top: 80px;
    margin-left: 128px;
}
.info h1{
    font-size: 80px;
    color: black;
    margin-bottom: 32px;
}
button{
    background-color: #FF715B;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 20px;
    /* border: none; */
    cursor: pointer;
}